.Bookatable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.form-heading-small {
  margin-left: 2.5vw;
  margin-top: 19vh;
}
.BAT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 5%;
}
.bookatableform {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#f3b16b, #fceca7);
  color: white;
  width: 35vw;
  height: 70vh;
}
.form-heading-large {
  display: flex;
  flex-direction: column;
  font-size: xx-larger;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 3em;
  padding-top: -4vh;
}
.form-bookatable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.outerflexform {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
}
.inputfield {
  height: 35px;
  width: 170px;
  margin: 10px;
  border: solid white 5px;
  z-index: 0;
  border-radius: 5px;
  font-size: medium;
  color: rgb(137, 137, 201);
  font-weight: 600;
  font-family: Geneva, Verdana, sans-serif;
  padding: 2px;
}
.inputfield::placeholder {
  color: rgb(137, 137, 201);
  align-self: top;
  font-family: Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 600;
  padding: 2px;
}

.inputfield:focus,
.inputfield:active {
  border: black solid 3px;
}
.textbox {
  width: 27vw;
  height: 20px;
  padding: 12px;
}
.btn-bat {
  height: 40px;
  border: none;
  background-color: #e8791f;
  padding: 10px;
  display: block;
  color: #f3f5f7;
  width: 29vw;
  font-weight: 800;
  border-radius: 5px;
  margin: 10px;
  margin-left: -30px;
}
