/* .home::before {
  content: "";
  background-image: url(https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */
/* linear-gradient(#65673a, #9b6e6e); */
/* linear-gradient(#73b676, #db8c4b) */
/* linear-gradient(#73e4e2, #ad555f); */
/* linear-gradient(#dd9f24, #ad555f); */
/* linear-gradient(#dd9f24, #69b788); */
/* linear-gradient(#c09848, #125b82); */
/* 65673a  3cdbcd*/
.home {
  background: linear-gradient(#db863c, #9b6e6e);
  min-height: 60vh;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-text-heading {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6em;
  font-weight: 900;
  color: white;
}
.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  align-self: center;
}
.home-text-text {
  font-size: 20px;
  font-weight: 900;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  margin-bottom: 20px;
}
.home-image img {
  height: 400px;
}
.btn-bookatable {
  color: "#1D5D9B";
  border: "solid 8px white";
  background-color: #fcb730;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  height: 50px;
  border-radius: 5px;
  font-weight: 700;
}
.btn-bookatable:hover {
  color: "#FBEEAC";
  border: "solid 3px #FBEEAC";
  background-color: "#1d5d9b";
}
.parallex {
  /* background-image: url(" https://images.unsplash.com/photo-1556761223-4c4282c73f77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDE1fHxyZXN0dXJhbnR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60"); */
  content: "";
  background-image: url("https://images.unsplash.com/photo-1516100882582-96c3a05fe590?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=800&q=60");
  min-height: 900px;
  width: 100vw;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -10;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: 900;
  margin: 10px;
  padding: 10px;
}

.slider {
  position: absolute;
  left: 20vw;
  top: 89px;
}
.pchild img {
  width: 350px;
}
.leftpara {
  margin-left: -30px;
  position: absolute;
  left: -10vw;
}
.rightpara {
  margin-left: -30px;
  position: absolute;
  right: -10px;
}
.splash {
  width: 100vw;
  height: 90px;

  display: flex;
  flex-direction: row;
}

.splashkid {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(#9b6e6e, #9b6e6e);
  padding: 14px;
  height: 30px;

  box-shadow: 5px 0 0 0 rgba(217, 201, 166, 0.724);
}
.splashkid:nth-of-type(even) {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.splashkid:nth-of-type(4n-7) {
  height: 75px;
}

.splashkid:nth-of-type(5n-3) {
  height: 55px;
}
.splashkid:nth-of-type(9n-3) {
  height: 55px;
}
.x {
  height: 1000px;
  background-image: linear-gradient(
    to right top,
    #faa7e4,
    #f395e5,
    #e983e9,
    #dc72ee,
    #cb63f4
  );
  font-size: 36px;
  text-align: center;
  font-family: "Raleway", Arial, sans-serif;
}
.pchild {
  display: flex;
  flex-direction: row;
  margin-top: -42px;
  z-index: -1;
}

.parachild {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-bottom: 200px;
  z-index: -1;
  font-size: xx-large;
  font-weight: 900;
  width: 60vw;
  padding: 20px;
  color: rgb(10, 32, 23);
}
.footer {
  display: flex;
  background-color: black;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ffooter {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 5vh;
  font-family: cursive;
  border: solid 1px white;
  padding: 32px;
}
.ffooter .navlink {
  text-decoration: none;
  color: white;
}
.navlink:active {
  color: white;
}
