.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  padding: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 30px;
  margin-bottom: 30px;

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: white;
}

.service-data {
  display: flex;
  flex-direction: row;
  background-color: white;
  font-size: larger;
  flex-wrap: wrap;
  width: 300px;
  margin: 20px;
  color: rgb(26, 51, 63);
  position: relative;
  border: 2px solid rgba(162, 213, 178, 0.2);
  box-shadow: 0 3px 10px 4px rgba(20, 64, 32, 0.2);
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

.service-data img {
  width: 40px;
  height: 40px;
  background-color: rgba(165, 238, 92, 0.96);
  color: rgb(152, 234, 102);
  margin: 8px;
}
.service-name {
  font-size: x-large;
  font-weight: 700;
  padding-left: 8px;
}
.service-description {
  font-size: medium;
  font-weight: 600;
}
.service-data:hover {
  width: 330px;
  font-size: large;
  transform: translate3d(-1em, -1em, -9em) perspective(-9em) s;
  padding: 20px;
  color: rgb(42, 73, 167);
  box-shadow: 15px 15px 0px 0px rgba(39, 92, 162, 0.283);
  border-radius: 2px;
}
